# Ignore all data files except config and users
data/*
!data/config.json
!data/users.json

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Virtualenv
.venv/

# OS
.DS_Store

# IDE
.vscode/
.idea/
